@{
    ViewData["Title"] = "Blacklist";

    Singleton instance = Singleton.getInstance();
    instance.InitUsers();
    instance.InitTracks();
    List<Track> tracks = new List<Track>();
    List<User> users = new List<User>();
    users = instance.GetUsers();
    tracks = instance.GetTracks();
}


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    body {
        background-color: #e9ebee;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f4f5f4;
    }

    .material-icons {
        align: auto;
        border: none;
        background-color: transparent;
    }

        .material-icons:hover {
            color: red;
            transition: 0.2s;
        }
</style>

<script>function ImageButton_Click(button)
      {
   //     var blist = Track.blacklist;
        var obj = $(button);
        alert('Vil du fjerne sangen fra blacklist? ' + obj.blacklist);

    }

 
    $("#Search_form").submit(function (event) {
        event.preventDefault();
        var url = $(this).attr("action");
        var request_mth = $(this).attr("method");
        var form_data = $(this).serialize

        $.ajax({
            url: url,
            data: form_data,
            type: request_mth,
        }).done(function (response) {
            $("#Song_Json").html(response);
        })
    });
   
</script>


<div>
    <form action="http://isdisco-web-api.azurewebsites.net/api/spotify-track/search" method="get" id="Search_form">
        <label>Sang navn</label>
        <input type="text" name="songname" />
        <input type="submit"  value="Søg" />
        <div id="Song_Json"></div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            <h1>
                <b>
                    @ViewData["Title"]
                </b>
            </h1>
        </center>
        <table>
            <tr>
                <th>Sang</th>
                <th>Kunstner</th>
                <th>Ønsket i aften</th>
                <th></th>
            </tr>
            
            @foreach (var Track in tracks)
            {
                {
                    <tr>
                        <td>@Track.Title </td>
                        <td>@Track.Artist</td>
                        <td><button class="material-icons" onclick="ImageButton_Click(this)">delete</button></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additionBl information.</p>
-->
