@{
    ViewData["Title"] = "Blacklist";

    Singleton instance = Singleton.getInstance();
    

  //instance.InitBlacklist();
    List<BlacklistModel> blacklist = new List<BlacklistModel>();
    

 if (!instance.GetBlacklist().Any<BlacklistModel>())
    {
        instance.InitBlacklist();
        blacklist = instance.GetBlacklist();
        Console.WriteLine("InitBlacklist");
    } 
     else 
    {
        blacklist = instance.GetBlacklist();
    } 
}


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    body {
        background-color: #e9ebee;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f4f5f4;
    }

    .material-icons {
        align: auto;
        border: none;
        background-color: transparent;
    }

        .material-icons:hover {
            color: red;
            transition: 0.2s;
        }
</style>

<script>
    function loadBlacklist(){
        
          $.ajax('https://localhost:44342/api/blacklist' , {
            crossDomain: 'true',
            headers:{'Access-Control-Allow-Origin':'*'},
            method: 'get',
            data: track,
            dataType: 'text',
           
            contentType: 'application/json',
            success: function (response) {
                alert(response);
                var rec = JSON.parse(response);
                var tracks = rec.Tracks
                var table = document.getElementById("Song_Json");
                for (var i = table.rows.length - 1; i > 0; i--) {
                    table.deleteRow(i);
                }
                tracks.forEach(function (entry) {
                    $("#Song_Json").append("<tr>" + "<td>" + entry.SongName + "</td>" + "<td>" + entry.ArtistName + "</td>" + "<td>" + "<a href=" + "" + entry.WebplayerLink + ">" + "Open in spotify" + "</a>" + "</td>" + "</tr>");
                });
            },
            error: function (xhr, status, error) {
                alert(status);
                alert(xhr.responseText + " " + song);
               
            }
        });
    }

    function ImageButton_Click(button){
          var i = button.parentNode.parentNode.rowIndex;
          if(confirm("Vil du fjerne den fra blacklist?")){
            $('#MyId').val(i);    
            alert("Sang på index " + i + " blev slettet fra blacklist");
        }
    }

    function Pfunc(button) {
        // 'https://isdisco-web-api.azurewebsites.net/api/spotify-track/search'
        if (document.getElementById("SongName").value == "") {
            return;
        }
        var song = "songname=" + document.getElementById("SongName").value;
        $.ajax('https://localhost:44342/api/spotify-track/search' , {
            crossDomain: 'true',
            headers:{'Access-Control-Allow-Origin':'*'},
            method: 'get',
            data: song,
            dataType: 'text',
           
            contentType: 'application/json',
            success: function (response) {
                alert(response);
                var rec = JSON.parse(response);
                var tracks = rec.Tracks
                var table = document.getElementById("Song_Json");
                for (var i = table.rows.length - 1; i > 0; i--) {
                    table.deleteRow(i);
                }
                tracks.forEach(function (entry) {
                    $("#Song_Json").append("<tr>" + "<td>" + entry.SongName + "</td>" + "<td>" + entry.ArtistName + "</td>" + "<td>" + "<a href=" + "" + entry.WebplayerLink + ">" + "Åpen i Spotify" + "</a>" + "</td>" + "</tr>");
                });
            },
            error: function (xhr, status, error) {
                alert(status);
                alert(xhr.responseText + " " + song);
               
            }
        });
        
   }

 /*
 
    $("#Search_form").submit(function (event) {
        event.preventDefault();
        // var url = $(this).attr("action")
        // var request_mth = $(this).attr("method");
        var form_data = $(this).serialize;

        $.get("https://isdisco-web-api.azurewebsites.net/api/spotify-track/search" , function (data, status) {
            alert("Data" + data + "\nStatus" + status);
        });
    });
    */
      /*  $.ajax({
            url: 'https://isdisco-web-api.azurewebsites.net/api/spotify-track/search',
            method: 'GET',
            data: form_data,
            contentType: 'application/json',
            dataType: 'text'
        }).s(function (response) {
            var song = JSON.parse(response);
            $("#Song_Json").html(song);
        })
    });
  */  /*
  <form id="Search_form">
        <label>Sang navn</label>
        <input type="text" name="songname" />
        <input type="submit" value="Søg" />
    <div id="Song_Json"> hej </div>
    </form> */
</script>

<body onload="loadBlacklist()">

<div>
    <input type="text" id="SongName" name="songname"/>
    <button onclick="Pfunc(this)"> søg </button>
    <table name="Song_Json" id="Song_Json">
        <tr>
            <th>Sang</th>
            <th>Kunstner</th>
            <th>Mulighed</th>
            <th></th>
        </tr>
    </table>

</div>


<div class="row">
    <div class="col-md-12">
        <center>
            <h1>
                <b>
                    @ViewData["Title"]
                </b>
            </h1>
        </center>
        <table>
            <tr>
                <th>Sang</th>
                <th>Kunstner</th>
                <th>Mulighed</th>
                <th></th>
            </tr>
            
            @foreach (var BlacklistModel in blacklist)
            {
                {
                    <tr>
                        <td>@BlacklistModel.TrackObj.Title </td>
                        <td>@BlacklistModel.TrackObj.Artist</td>
                        <td><button class="material-icons" onclick="ImageButton_Click(this)">delete</button></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additionBl information.</p>
-->
</body>