@using IsDisco.Controllers;
@using Newtonsoft.Json.Linq;
@using System.Net;

@{
    ViewData["Title"] = "Livefeed";

    Singleton instance = Singleton.getInstance();
    List<User> usrlist = new List<User>();

   
    var webclient = new WebClient();
    String Reqresp = webclient.DownloadString("https://isdisco.azurewebsites.net/api/musicrequest");
    var JRequests = JArray.Parse(Reqresp);
    List<Request> requests = new List<Request>();

    for (int i = 0; i < JRequests.Count; i++)
    {
        var userId = Convert.ToInt32 (JRequests[i]["userId"].ToString());
        var ReqId = Convert.ToInt32(JRequests[i]["id"].ToString());
        //  var userName = JRequests[i]["request"]["user"]["name"].ToString();
        var trackId = JRequests[i]["track"]["id"].ToString();
        var thesongName = JRequests[i]["track"]["songName"].ToString();
        var artistName = JRequests[i]["track"]["artistName"].ToString();
        var webplayerLink = JRequests[i]["track"]["webplayerLink"].ToString();
        var date = Convert.ToDateTime (JRequests[i]["timestamp"].ToString());
        //User usr = new User(userName, userId);
        Track track = new Track(trackId, thesongName, artistName, webplayerLink);
        Request Reqs = new Request(ReqId, track, userId, date);
        requests.Add(Reqs);
    }

  using (var w = new WebClient()) {
    var json_data = string.Empty;
    // attempt to download JSON data as a string
    try {
      json_data = w.DownloadString("https://isdisco.azurewebsites.net/api/user");
          var jsonUsrReq = JObject.Parse(json_data);
              JArray JUsrReq = (JArray)jsonUsrReq["items"];


    for (int i = 0; i < JUsrReq.Count; i++)
    {
        var userId = Convert.ToInt32(JRequests[i]["id"].ToString());
        var userName = JRequests[i]["fullname"].ToString();
        User usr = new User(userName,userId);
        usrlist.Add(usr);
            //List<Request> requests = new List<Request>();
    //Init lists if they are empty
    if (!instance.GetTracks().Any<Track>())
    {
        instance.InitTracks();
        Console.WriteLine("InitTracks");

    }
       if (!instance.GetRequests().Any<Request>())
    {
        instance.InitRequests();
        requests = instance.GetRequests();
        Console.WriteLine("InitRequests");
    }
    else
    {
        requests = instance.GetRequests();
    }
   }
    }
    catch (Exception) {}
 }



    
 

    //Sorts the list so that the newest item is at the top
    requests.Sort((x, y) => -x.Timestamp.CompareTo(y.Timestamp));

    Html.Hidden("MyId", 0);


}

<style>
    body {
        background-color: #e9ebee;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 95%;
        background-color: white;
        border-radius: 10px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f4f5f4;
    }
</style>

<script>

function loadUser(id){
      //    alert(id);
            $.ajax('https://isdisco.azurewebsites.net/api/user/'+id , {
            crossDomain: 'true',
            headers:{'Access-Control-Allow-Origin':'*'},
            method: 'get',
            data: id,
            dataType: 'text',
            contentType: 'application/json',
            success: function (response) {
         //       location.reload();
                var rec = JSON.parse(response);
                console.log(rec);
          //      var tracks = rec.Blacklist;
                document.getElementById("user").innerHTML = rec.fullname;
                
            },
            error: function (xhr, status, error) {
                alert(status);
                alert(xhr.responseText + " " + song);
            }
    });
}

function blacklist(x,reqID,trackTitle,trackArtist,trackSpot){
  var i = x.parentNode.parentNode.rowIndex;
  var song = document.getElementById("songTable").rows[i].cells.item(1).innerHTML;
  var author = document.getElementById("songTable").rows[i].cells.item(2).innerHTML;
  var obj = {
      "track": {
        "id":reqID,
        "songName":trackTitle,
        "artistName":trackArtist,
        "image_small_url":"",
        "image_medium_url":"",
        "image_large_url":"",
        "webplayerlink":trackSpot
  }
    };
     var json = JSON.stringify(obj);
  if(confirm("Vil du blackliste "+ song + " af "  + author + "?")){
  //  alert(reqID+ " " + trackTitle);
    $.ajax('https://localhost:44342/api/blacklist' , {
        crossDomain: 'true',
        headers: {'Access-Control-Allow-Origin':'*'},
        method: 'post',
        data: json,
        dataType: 'text',
        contentType: 'application/json',
        success: function (response) {
            alert(response + "Success");
        },
        error: function (xhr, status, error) {
            alert(status);
        }
    });
  }
}
</script>

<body>
<center>
    <div class="row">
        <div class="col-sm-12">
            <center>
                <h1>
                    <b>
                        @ViewData["Title"]
                    </b>
                </h1>
            </center>
            <div style="height:80vh;overflow-y:scroll; width: 95%">

                <table id="songTable">
                    <tr>
                        <th>Sang</th>
                        <th>Kunstner</th>
                        <th>Ønsket af</th>
                        <th>Hvornår</th>
                        <th>Muligheder</th>
                    </tr>
                    @foreach (Request request in requests)
                    {
                        <tr>
                            <td>@request.Track.Artist</td>
                            <td>@request.Track.Track_id</td>
                            <td >@request.UserId</td>
                            <!-- <td>@usrlist.Find(x => x.ID == request.UserId)</td> -->
                            @if (DateTime.Now.Subtract(request.Timestamp).Seconds < 60 && DateTime.Now.Subtract(request.Timestamp).Minutes < 1 && DateTime.Now.Subtract(request.Timestamp).Hours < 1)
                            {
                                TimeSpan time = DateTime.Now.Subtract(request.Timestamp);
                                <td>@time.Seconds s siden</td>

                            }
                            else if (DateTime.Now.Subtract(request.Timestamp).Minutes >= 1 && DateTime.Now.Subtract(request.Timestamp).Hours < 1)
                            {
                                TimeSpan time = DateTime.Now.Subtract(request.Timestamp);

                                <td>@time.Minutes m siden</td>
                            }
                            else if (DateTime.Now.Subtract(request.Timestamp).Hours >= 1)
                            {
                                TimeSpan time = DateTime.Now.Subtract(request.Timestamp);

                                <td>Mere end @time.Hours timer siden</td>
                            }
                            <td>
                                <a href=@request.Track.Spotify_webplayer_link target="_blank"> <img src="https://ninalerche.dk/wp-content/uploads/2018/08/spotify-2-logo-png-transparent.png" width="24" height="24" title="Åben i spotify"></a>
                                <a href="#" title="blacklist song" onclick="blacklist(this, '@request.Track.Track_id','@request.Track.Title','@request.Track.Artist', '@request.Track.Spotify_webplayer_link')">
                                    <img src="https://image.flaticon.com/icons/svg/61/61057.svg" width="24">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="blacklist"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8 0-1.85.63-3.55 1.69-4.9L16.9 18.31C15.55 19.37 13.85 20 12 20zm6.31-3.1L7.1 5.69C8.45 4.63 10.15 4 12 4c4.42 0 8 3.58 8 8 0 1.85-.63 3.55-1.69 4.9z"/></svg>
                                    !-->
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</center>

<h3>@ViewData["Message"]</h3>
</body>